​name​: ​Build​
​on​:
  ​push​:
    ​branches-ignore​:
      - ​data​
      - ​gh-pages​
    ​tags​:
      - ​'​**​'​
  ​pull_request​:
    ​branches-ignore​:
      - ​data​
      - ​gh-pages​

jobs:
# Build job. Builds app for Android with Buildozer
  build-android:
    name: Build for Android
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          workdir: test_app
          buildozer_version: stable

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
          architecture: x64

      - name: Push binary to data branch
        run: python master/.ci/move_binary.py "${{ steps.buildozer.outputs.filename }}" master data
